@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

.wrap{
	width:420px;
	height:550px;
	margin:30px auto;
}

.tb_wrap td{
	width:123px;
	height:123px;
	border-radius:10px;
	background:#ffa600;
}

input{
	width:420px;
	height:50px;
	border:1px solid #ffa600;
	background-color:#fff;
	border-radius:5px;
	margin-bottom:10px;
	color:#ffa600;
	font-size:16px;
	font-family:"微软雅黑";
}